@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');

main > .container {
    padding: 70px 15px 20px;
    overflow-x: hidden
}
body{
    overflow-x: hidden
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;

}
.sidebar{
    max-width: 200px;
    width: 100%;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}
.avatar-container {
    position: relative;
    display: inline-block;
}
.container-content{
    text-align: justify;
}


.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 51px;
    right: -16px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}
.article-view{

}

.description{

    font-size: 30px;
    margin-top: 20px;
}
.container-title {
    padding: 0 0;
}
.sidebar-category{
    margin-top: 270px;
}

.sidebar-category a{
    font-size: 24px;
    text-decoration: none;
    margin: 5px;
    color: white;
    background: rgba(125, 177, 64, 0.92);
    width: 200px;
}
.sidebar-category a:hover{
    background-color: gainsboro;
}




.article-content{
    font-size: 22px;
}
.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ddd;
}

.dropdown a:last-child {
    border-bottom: none;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}

.avatar-container.active .dropdown {
    display: block;
}
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}


/*card-article*/



*, *:after, *:before {
    box-sizing: border-box;
}

.container-articles {
    font-family: "Lexend", sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    color: #393232;
}

img {
    max-width: 100%;
    display: block;
}

.card-list {
    width: 90%;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*gap: 16px; !* Adjust the gap between cards as needed *!*/
    /*justify-content: start;*/
}

.card {
    background-color: #FFF;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 3px 8px 0 rgba(0, 0, 0, 0.15); /* Updated box-shadow values */
    border-radius: 15px;
    overflow: hidden;
    padding: 1.75rem;
    position: relative;
    transition: .15s ease-in;
    flex: 1 1 calc(33.333% - 16px);
    box-sizing: border-box;
    margin-top: 50px;
    /*max-width: calc(33.333% - 16px);*/

    &:hover, &:focus-within {
        box-shadow: 0 0 0 2px #16C79A, 0 10px 60px 0 rgba(0, 0, 0, 0.1);
        transform: translatey(-5px);
    }

}




.card-image {
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    max-height: 500px;
}

.card-header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    a {
        font-weight: 600;
        font-size: 1.375rem;
        line-height: 1.25;
        padding-right: 1rem;
        text-decoration: none;
        color: inherit;
        will-change: transform;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }
}



.card-meta {
    display: flex;
    align-items: center;
}

.card-meta--views {
    margin-right: 1rem;
}

.icon-button {
    border: 0;
    background-color: #fff;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 1.25rem;
    transition: .25s ease;
    box-shadow: 0 0 0 1px rgba(#000, .05), 0 3px 8px 0 rgba(#000, .15);
    z-index: 1;
    cursor: pointer;
    color: #565656;

    svg {
        width: 1em;
        height: 1em;
    }
    &:hover, &:focus {
        background-color: #EC4646;
        color: #FFF;
    }
}

.card-footer {
    margin-top: 1.25rem;
    border-top: 1px solid #ddd;
    padding-top: 1.25rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-meta {
    display: flex;
    align-items: center;
    color: #787878;
    &:first-child:after {
        display: block;
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: currentcolor;
        margin-left: .75rem;
        margin-right: .75rem;
    }
    svg {
        flex-shrink: 0;
        width: 1em;
        height: 1em;
        margin-right: .25em;
    }
}


@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }

        .sidebar-category {

            z-index: 1000;
        }

}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-group {
    margin-bottom: 1rem;
}